.row {
  flex-direction: row;
  display: flex;
  padding-right:15px;
  padding-bottom: 4px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}

.paddingRight {
  display:flex;
  justify-content: space-around;
  padding-top:30px;
}

.center {
  display:flex;
  justify-content: center;
  color: white;

}
.centerNotWhite {
  display:flex;
  justify-content: center;
}
.header {
  border: 5px solid red;
  background-color: black
}

.flex{
  display: flex;
  justify-content: space-around;
}

.underline{
  border-bottom: 4px solid black;
  text-decoration: none;
  color: red
}

.aNoStyle {
  text-decoration: none;
  color: black
}

.column{
  display: flex;
 flex-direction: column;
 align-items:center
}

.paddingTop{
  padding-top: 40px;
}

.paddingRight1{
  padding-right: 20px
}

.openDeals {
text-decoration: underline;
padding-left:25px;
color: red
}
